PORT=3000
SITE_URL=http://localhost:3000
LICENSE_KEY=LIC-REPLACE_ME
LICENSE_API_BASE=http://localhost:4000

YSHOP_API_BASE=https://api.yshop.pl
# Jeśli używasz bearer/api key:
YSHOP_API_KEY=replace-with-your-yshop-token
# Jeśli API wymaga public key ustaw tutaj:
YSHOP_PUBLIC_KEY=replace-with-your-yshop-public-key

# Możesz zmienić endpointy wg dokumentacji yshop.pl:
YSHOP_PRODUCTS_PATH=/products
YSHOP_ORDERS_PATH=/orders
