PORT=3000
SITE_URL=http://localhost:3000
LICENSE_KEY=LIC-REPLACE_ME
LICENSE_API_BASE=http://localhost:4000

YSHOP_API_BASE=https://api.yshop.pl
# Klucz publiczny (widoczny):
YSHOP_PUBLIC_KEY=publ_xxx
# Klucz prywatny/secret (NIE publikuj):
YSHOP_PRIVATE_KEY=priv_xxx

# Możesz zmienić endpointy wg dokumentacji yshop.pl:
YSHOP_PRODUCTS_PATH=/products
YSHOP_ORDERS_PATH=/orders
